1. write a python program to print numbers from 1 to 10 using for loop.

In [5]:
for i in range(1,11):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,

2. Create a program that calculate the sum of all numbers in a list using for loop.

In [8]:
a=[1,2,3,4,5]
sum=0
for i in a:
    sum=sum+i
print("The sum of numbers in the list is :",sum)

The sum of numbers in the list is : 15

3. Write a program to print the characters of the string in reverse order using for loop.

In [15]:
str="susrita"
for i in str:
    rev_str=str[::-1]
print("The reverse order of the given string is :",rev_str)

The reverse order of the given string is : atirsus

4. DEvelop a program that finds the factorial of a number using for loop.

In [23]:
n=int(input("Enter a number"))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

Enter a number 7

5040

5. Create a program to print the multiplication of a table of a given number using a for loop.

In [26]:
n=int(input("Enter a numer"))
for i in range(1,11):
    mul=n*i
    print(n,"*",i,"=",mul)

Enter a numer 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6. Write a program that counts even and odd numbers in the list using for loop.

In [40]:
b=[1,4,5,9,9,3,2]
even,odd=0,0
for i in b:
    if i%2==0:
        even+=1
    else:
        odd+=1
print("The total no;of even nos are :",even)
print("The total number of odd numbers are :",odd)

The total no;of even nos are : 2
The total number of odd numbers are : 5

7. Create a program that prints squares of a number from 1 to 5 using a for loop.

In [41]:
for i in range(1,6):
    sqr=i*i
    print("The square of",i,"is =",sqr)

The square of 1 is = 1
The square of 2 is = 4
The square of 3 is = 9
The square of 4 is = 16
The square of 5 is = 25

8. Create a programm to find the length of a string without using len() function.

In [42]:
name="This is me"
len=0
for i in name:
    len=len+1
print("The length of a function is :",len)

The length of a function is : 10

9. Write a program that creates the average of a list of numbers using a for loop.

In [62]:
list=[2,4,6,8,10]
sum,count=0,0
for i in list:
    sum=sum+i
print("The sum of nos is :",sum)
count=count+i
print("The total no of values are :",count)
avg=sum//count
print("The average of the given list of nos is =",sum,"/",count,"=",avg)

The sum of nos is : 30
The total no of values are : 10
The average of the given list of nos is = 30 / 10 = 3

10. Develop a program that prints first n fibnociii numbers using for loop.

In [65]:
n=7
for i in range(0,n+1):
    if i==0:
        print(i)
    elif i==1:
        print(1)
    else:
        print((i-1)+(i-2),end=",")

0
1
1,3,5,7,9,11,

11. Write a program to check if any duplicates in the list using a for loop.

In [2]:
list=[1,2,2,3,4,4,5]
for i in list:
    dup=set(list)
print(dup)

{1, 2, 3, 4, 5}

12. Create a program that print prime numbers in a given range using a for loop.

In [6]:
for i in range(1,51):
    if i%2!=0:
        print(i,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,

13. DEvelop a program that counts the no:of vowels using for loop.

In [31]:
str="susrita"
count=0
vowel = "aeiouAEIOU"
for i in str:
    if i in vowel:
        count+=1
print("The no of vowels are :",count)

The no of vowels are : 3

14. Write a program to find the maximum element in a 2D list using nested for loop.

In [44]:
a = [[2,9,10],[20,45,67]]
lis = []
for p in a:
    p.sort()
    lis.append(p[-1])
print(lis)

[10, 67]

15. Create a program that remove all occurences of a specific element from list using for loop.

In [4]:
b=[1,2,2,3,4,5]
res=[]
for i in b:
    if i!=2:
        res.append(i)
print(res)

[1, 3, 4, 5]

16. Develop a program that generates multiplication table of nos from 1 to 5 using nested for loop.

In [10]:
for i in range(1,5):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

17. Write a program that coverts a list of farenheit temperatures to celsius using for loop.

In [14]:
far=[140,120,108]
for i in far:
    celsius = (i-32)/1.8
    print("The coversion of",i,"farenheit temperature to celsius is =",round(celsius,3))

The coversion of 140 farenheit temperature to celsius is = 60.0
The coversion of 120 farenheit temperature to celsius is = 48.889
The coversion of 108 farenheit temperature to celsius is = 42.222

18. Create a program that print common elements from two list using for loop.

In [18]:
a=[1,2,3,4]
b=[4,2,5,6]
for i in a:
    for j in b:
        if i==j:
            print(i)

2
4

19. Write a program to that print right angle pattern using for loop. Use "*" for the pattern.

In [25]:
for i in range(1,9):
    print("*"*i)

*
**
***
****
*****
******
*******
********

20. Write a program to find the greatest common divisor (GCD) of two numbers using for loop.

In [23]:
a=3
b=6
if a>b:
    tem=b
else:
    tem=a
    for i in range(1,tem+1):
        if a%i==0 and b%i==0:
            print(i)

1
3

21. create a program that calculates the sum of digits of numbers in the list using list comprehension.

In [35]:
res=sum([i for i in range(1,6)])
print("The sum of digits in the list is =",res)

The sum of digits in the list is = 15

22. Write a program to find the prime factors of a given number using for loop and list comprehension.

In [36]:
n=8
res=[i for i in range(1,n+1) if n%i==0]
print(res)

[1, 2, 4, 8]

23. Write a program that extracts unique elements from the list and stores them in a new list using for loop and list comprehension.

In [44]:
list=[1,2,2,3,4,4,5]
new=set(list)
res=[i for i in new]
print(res)

[1, 2, 3, 4, 5]

24. write a program that list the palindromic numbers upto specified limit using for loop and list comprehension.

In [55]:
res=[i for i in range(11,201) if str(i)==str(i)[::-1]]
print(res)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

25. write a program to flatten a nested list using list comprehension.

In [62]:
list=[[1,2,3],[4,5,6],[7,8,9]]
res=[j for i in list for j in i]
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

26. Develop a program that computes the sum of even and odd numbers in the list separately using list comprehension.

In [10]:
list_num=[1,2,3,4,5,6]
even,odd=sum([i for i in list_num if i%2==0]),sum([i for i in list_num if i%2!=0])
print("The sum of even number is =",even,"\n","The sum of odd number is =",odd)

The sum of even number is = 12
 The sum of odd number is = 9

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [14]:
list_sqr=[i*i for i in range(1,11) if i%2!=0]
print(list_sqr)

[1, 9, 25, 49, 81]

28. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [16]:
vowels="a,e,i,o,u,A,E,I,O,U"
str="apple"
res_vow=[i for i in str if i in vowels]
print(res_vow)

['a', 'e']

29. Create a program that removes all non-numeric characters from a list of strings using list comprehension

In [33]:
str="my age is 24 years and 140 days"
res=[int(i) for i in str.split() if i.isdigit()]
print(res)

[24, 140]

30. Write a program that creates two lists into dictionary using list comprehension.

In [12]:
a=['beanie','ben']
b=['7','4']
res={a[i]:b[i] for i in range(len(a))}
print(res)

{'beanie': '7', 'ben': '4'}

31. Write a program that generate a list of prime number using seive of Eratosthenes algorithm and list comprehension.

In [21]:
n=50
prime_list=[i for i in range(1,n+1) if i<n and i%2!=0]
print(prime_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

32. Create a program that generates list of pythogorean triplets up to a specified limit using list comprehension

In [22]:
pthag = [(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2]

print(pthag)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]

33. DEvelop a program that generates a list of possible all combination of two lists using list comprehension.

In [35]:
l1=['sus','sub','dip']
l2=[1,2,3]
list=[[i,j] for i in l1 for j in l2]
print(list)

[['sus', 1], ['sus', 2], ['sus', 3], ['sub', 1], ['sub', 2], ['sub', 3], ['dip', 1], ['dip', 2], ['dip', 3]]

34. Write a program that calculates mean,median,mode of a list of numbers using list comprehension.

35. Create a program that generates Pascal's triangle upto a specified number of rows using list comprehension.

36. DEvelop a program that calculate the sum of the digits of a factorial number from 1 to 5 using list comprehension.

In [17]:
fact=1
n=10
for i in range(2,n+1):
    fact=fact*i
    sum=0
    for j in str(fact):
        sum+=int(j)
print(sum)

27

37. Write a program that finds the longest word in a sentence using list comprehension.

In [55]:
str="susrita loves travelling"
word=str.split()
longest_word = max(word, key=lambda word: len(word))
print(longest_word)

travelling

38. Write a program that filters a list of string that include only those with more than 3 vowels using list comprehension.

In [20]:
string=['volumei','maximuma','apple','cat']
res = []
for ele in string:
    vow_len = len([el for el in ele if el in ['a', 'e', 'o', 'u', 'i']])
    if vow_len > 3:
        res.append(ele)
print("Maximum vowels word : " , res)

Maximum vowels word :  ['volumei', 'maximuma']

39. Develop a program that calculates sum of the digits of numbers from 1 to 1000 using list comprehension.

In [6]:
digit=sum([i for i in range(1,1001)])
print(digit)

500500

40. Write a program that generates a list of prime palindronic numbers using list comprehension.

In [8]:
prime=[i for i in range(11,501) if i%2!=0 and str(i)==str(i)[::-1]]
print(prime)

[11, 33, 55, 77, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393]